@model IEnumerable<SAT.DATA.EF.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<section class="contact_section layout_padding">

    <div class="heading_container my-4">
        <h2>
            Courses
        </h2>
        @if (User.IsInRole("Admin"))
        {

            <a class="btn btn-dark" asp-action="Create">Create New</a>
        }
        <a class="btn btn-dark" asp-action="TiledCourses">Tiled View</a>

    </div>
    <div class="">
        <div class="px-5">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreditHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Curriculum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Notes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                            <th>Actions</th>
                            <th></th>
                        }
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditHours)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Curriculum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                                </td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Update the selector to target the element with the table class
            $('.table').DataTable();
        });
    </script>
}


