@model IEnumerable<SAT.DATA.EF.Models.ScheduledClass>

@{
    ViewData["Title"] = "Index";
}

<section class="contact_section layout_padding">

    <div class="heading_container my-4">
        <h2>
            Students
        </h2>
        @if (User.IsInRole("Admin"))
        {

            <a asp-action="Create" class="btn btn-dark">Create New Student</a>
        }

    </div>
    <div class="">
        <div class="px-5">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InstructorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Course)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Scs)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstructorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.CourseDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scs.Scsname)
                            </td>
                            <td>
                                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.ScheduledClassId">Edit</a>
                                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ScheduledClassId">Details</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ScheduledClassId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>








