@model IEnumerable<SAT.DATA.EF.Models.ScheduledClassStatus>

@{
    ViewData["Title"] = "Index";
}

<section class="contact_section layout_padding">

    <div class="heading_container my-4">
        <h2>
            Scheduled Class Status
        </h2>
        @if (User.IsInRole("Admin"))
        {

            <a asp-action="Create" class="btn btn-dark">Create New</a>
        }

    </div>
    <div class="">
        <div class="px-5">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Scsname)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scsname)
                            </td>
                            <td>
                                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Scsid">Edit</a>
                                <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.Scsid">Details</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Scsid">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

